/.kube-secrets
/tmp
/dev
**/dev
/hack/hooks

.vscode
.devcontainer
.idea
.DS_Store
.cache_ggshield
*~
hack/tools/bin/

/hack/switch/switch.tar.gz

/hack/switch/switcher_darwin_amd64
/hack/switch/switcher_darwin_amd64.tar.gz

/hack/switch/switcher_darwin_arm64
/hack/switch/switcher_darwin_arm64.tar.gz

/hack/switch/switcher_linux_amd64
/hack/switch/switcher_linux_amd64.tar.gz
