/.kube-secrets
/tmp
/dev
**/dev
/hack/hooks

.vscode
.idea
.DS_Store
.cache_ggshield
*~

/hack/k8ctx/k8ctx.tar.gz

/hack/k8ctx/switcher_darwin_amd64
/hack/k8ctx/switcher_darwin_amd64.tar.gz

/hack/k8ctx/switcher_linux_amd64
/hack/switch/switcher_linux_amd64.tar.gz
