/.kube-secrets
/tmp
/dev
**/dev

.vscode
.idea
.DS_Store
.cache_ggshield
*~

/hack/switch/switch.tar.gz

/hack/switch/switcher_darwin_amd64
/hack/switch/switcher_darwin_amd64.tar.gz

/hack/switch/switcher_linux_amd64
/hack/switch/switcher_linux_amd64.tar.gz
